<div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/education/">Education</a>
        <a href="{{site.baseurl}}/research/">Research</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/experience/">Experience</a>
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
        <!-- <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/archive/">Archive</a> -->
</div>
<br/>
